@charset "UTF-8";

body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: rgb(68, 157, 240);
        }

        h1 {
            text-align: center;
            color: white;
        }

        #container {
            display: flex;
            justify-content: center;
        }

        #filho {
            background-color: white;
            width: 400px;
            height: 400px;
            border: 1px solid black;
            border-radius: 10px;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
        }

        #hora {
            text-align: center;
            padding: 10px;
            padding-top: 30px;
        }

        #imagem {
            text-align: center;
            padding: 8px;
        }

        footer p {
            text-align: center;
            color: white;
        }